@import 'react-calendar/dist/Calendar.css';


.react-calendar {
  background-color: $cream;
  border-radius: 10px;
  width: 50%;
  color: $black;
  border: none;

  button:hover {
    border-radius: 10px;
  }
}

.react-calendar__navigation {
  button {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
  }
}

.react-calendar__viewContainer {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.react-calendar__month-view__days {
  button {
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
  }
}

.react-calendar__tile--active {
  background-color: $darkblue;
  border-radius: 10px;
}
