.goals-widget-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 62vh;
  // border: 2px solid $cream;
  border-radius: 30px;
  background-color: $blue;
  position: relative;

  h2 {
    color: $cream;
    font-size: 35px;
    font-family: 'Fredoka One', cursive;
    margin: 10px 0 10px;
  }
}

.goals-widget-list {
  width: 100%;
  height: 78%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goals-widget-item {
  // background-color: $cream;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: $cream;
  border-radius: 20px;
  // height: auto;
  margin: 15px;
  // border: 1px solid red;
}

.goals-widget-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // overflow: scroll;
  overflow-wrap: break-word;
  background-color: $cream;
  border-radius: 20px;

  .goal-due-date {
    font-family: 'Fredoka One', cursive;
    margin: 10px 0 10px;
  }
}

.goal-widget-desc-wrapper {
  width: 90%;
}

.goal-widget-desc {
  // overflow: scroll;
  // word-break: break-all;
  text-align: center;
  margin: 0;
}

.goals-widget-btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0;
  box-sizing: border-box;

  button {
    // padding: 5px 15px;
    // border-radius: 5px;
    // border: 1px solid $black;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: $orange;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &:hover {
      color: $darkorange
    }
  }
}

.add-goal-button {
  margin: 20px 10px 10px 10px;
  position: absolute;
  bottom: 20px;
  border: none;
  background-color: $orange;
  color: $cream;
  // width: 120px;
  // height: 30px;
  border-radius: 20px;
  font-family: 'Fredoka One', cursive;
  font-size: 24px;
  padding: 8px 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  &:hover {
    background-color: $darkorange;
  }
}

.goal-form-container {
  width: 35%;
  height: 62vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background-color: $blue;

  h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 32px;
    margin: 0;
    margin-bottom: 20px;
    color: $darkblue;

    #current-user-name {
      color: $cream;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-family: 'Fredoka One', cursive;
      color: $cream;
      display: flex;
      font-size: 30px;
      flex-direction: column;
    }

    input {
      border: none;
      // height: 40px;
      background-color: $cream;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      border-radius: 30px;
      padding: 15px;
      box-sizing: border-box;
      outline: none;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    input[type=date] {
      width: 60%;
    }
  }
}

.goal-form-cancel {
  padding: 5px 10px;
  background-color: $orange;
  color: $cream;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out;
  align-self: flex-end;

  &:hover {
    background-color: $darkorange;
  }
}

.goal-form-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  button {
    background-color: $cream;
    border: none;
    color: $darkblue;
    border-radius: 20px;
    border-radius: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    padding: 8px 20px;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $beige;
    }
  }
}

#optional {
  font-size: 15px;
  font-style: italic;
}

.goal-inputs {
  height: 35vh;
}

.goal-errors {
  color: $orange;
  width: 100%;
  font-size: 15px;
  font-style: italic;
  height: 15px;
}
