.goals-modal-container {
  background-color: $beige;
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  position: relative;

  h3 {
    width: 400px;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $darkblue;
    font-family: $bubblefont;
  }
}

.goal-delete-desc {
  margin: 5px 0px;
  font-size: 24px;
  font-weight: 1000;
  color: $black;

  span {
    font-weight: 600;
    font-size: 18px;
  }
}
