.login-page-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-login-form-container {
  display: flex;
  flex-direction: column;
  // background-color: $blue;
  background-color: $beige;
  // width: 100%;
  padding: 30px 30px 30px 30px;
  border-radius: 20px;

  form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      width: 100%;
      font-family: $bubblefont;
      font-size: 40px;
      color: orange;
      margin-top: 0px;
      margin-bottom: 10px;
      text-align: center;
      cursor: default;
    }
  }
}

.login-content {
  .login-content-item {
    // border: 1px solid red;
    padding: 20px;

    label {
      font-family: $bubblefont;
      font-size: 24px;
      color: $darkblue;
    }
  }
}

.login-btn {
  // width: 30%;
  padding: 10px 25px;
  font-family: $bubblefont;
  font-size: 20px;
  color: $beige;
  background-color: orange;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.1s ease-out;

  &:hover {
    background-color: $orange;
  }
}

.input-box-container {
  background-color: $cream;
  padding: 20px;
  border-radius: 20px;
  width: 350px;

  input {
    border: none;
    outline: none;
    width: 80%;
    font-size: 16px;
    background-color: $cream;
  }
}

.registration-errors {
  height: 20px;
  display: flex;

  span {
    font-size: 14px;
    margin-bottom: 12px;
    color: $orange;
    font-style: italic;
  }
}
