.mood-tracker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $beige;
  height: 100%;
  // margin: 20px;
  border-radius: 30px;
  // border: 3px solid $cream;
  // border: 1px solid red;
  // box-shadow: 0px 0px 10px 6px rgba(60, 90, 128, 0.2);

  h3 {
    font-family: 'Fredoka One', cursive;
    color: $darkblue;
    font-size: 50px;
    text-align: center;
    margin: 0;
  }

  > div:first-child{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
  }

  button {
    padding: 5px 10px;
    background-color: $orange;
    color: $cream;
    font-size: 18px;
    border: none;
    // border: 1px solid $darkblue;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;
    // box-shadow: 0px 0px 10px 6px rgba(60, 90, 128, 0.2);

    &:hover {
      background-color: $darkorange;
    }
  }
}

.mood-display {
  padding: 0 30px 60px 30px;
  border-radius: 5px;
  // background-color: $cream;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
  font-size: 60px;
  // box-shadow: 0px 0px 10px 6px rgba(60, 90, 128, 0.2);

  .moods {
    display: flex;
    justify-content: center;
  }
}

.mood-form {
  display: flex;
  flex-direction: column;
  padding: 0 30px 39px 30px;
  box-sizing: border-box;

  h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;

    label{
      font-size: 40px;
      cursor: pointer;
      padding: 0 15px 0;
    }

    input {
      display: none;
    }
  }

  #cancel-button {
    display: flex;
    justify-content: flex-end;
    margin-left: 60px;
  }
}

#empty-space {
  height: 25%;
  margin: 0;
}
