header {
  display: flex;
  margin-bottom: 10px;
  height: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  // background-color: $darkblue;
}

.signup-login-container {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 100%;

  button, a {
    height: 40px;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    padding: 8px 20px;
    color: $beige;
    background-color: orange;
    transition: 0.1s ease-out;
    border-radius: 20px;
    margin-right: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;

    &:focus-visible {
      outline: none;
    }

    &:hover {
      background-color: $orange;
    }
  }
}

#logo {
  font-size: 55px;
  font-family: 'Fredoka One', cursive;
  color: orange;
  margin: 0;
  margin-left: 44%;
  cursor: pointer;
  text-shadow: 3px 3px $orange;
}

.splash-nav {
  background-color: $beige;
  margin: 0;
  padding-bottom: 10px;

  #logo {
    font-size: 90px;
  }
}
