.main-reflection-widget-container {
  width: 60.5%;
  border-radius: 30px;
  background-color: $orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;

  h3 {
    color: $cream;
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    margin: 0;
  }
}

.journal-carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin: 20px;
  background-color: $beige;
  border-radius: 10px;
  width: 70%;
  height: 35vh;
  min-height: 300px;
}

.reflection-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .date-time {
    color: $black;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;

    p {
      margin: 0;
      &:last-child {
        margin-bottom: 5px;
      }
    }

    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }
}

.edit-btn {
  color: $orange;
  cursor: pointer;
  font-size: 30px;
  transition: 0.1s ease-in-out;

  &:hover {
    color: $darkorange;
  }
}

.reflection-item-entry {
  padding: 0 px 5px;
  overflow: hidden auto;
  overflow-wrap: break-word;
  height: 100%;

  p {
    color: $black;
  }
}

.carousel-btns-container {
  display: flex;
  justify-content: space-evenly;
  height: 48px;
  margin-bottom: 10px;

  button {
    font-size: 24px;
    border-radius: 20px;
    font-family: 'Fredoka One', cursive;
    border: none;
    color: $cream;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;
  }

  .carousel-button {
    padding: 8px;
    background: transparent;

    svg {
      height: 35px;
    }

    &:hover {
      color: $darkblue;
    }
  }

  .carousel-new-button {
    padding: 8px 20px;
    background: $darkblue;
    &:hover {
      background-color: $blue;
    }
  }
}
