.cancel-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

// .close-btn-container {
//   padding: 5px;
//   background-color: $darkorange;
// }

.register-close-btn {
  padding: 5px 10px;
  background-color: $orange;
  color: $cream;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-container {
  width: 100%;
  height: auto;
  padding: 30px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  h3 {
    margin: 0px;
    color: #ffa500;
    text-align: center;
    font-family: $bubblefont;
    font-size: 30px;
    padding: 0px;
  }
}

.register-content {
  label {
    padding: 5px 10px;
    font-family: $bubblefont;
  }
  display: flex;
  flex-direction: column;
}

.input-box-container {
  // border: 1px solid red;
  background-color: $cream;
  padding: 10px;
  border-radius: 20px;
  width: 350px;

  input {
    border: none;
    outline: none;
    width: 80%;
    font-size: 16px;
    background-color: $cream;
  }
}

.register-btn {
  background-color: #ffa500;
  font-family: $bubblefont;
  font-size: 18px;
  color: $beige;
  padding: 10px 6px;
  width: 30%;
  text-align: center;
  cursor: pointer;

  margin: 20px 30px;
  border: none;
  border-radius: 20px;
}
