.main-splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  width: 100%;
  margin: auto;
  // background-color: $blue;
}

.splash-main-contents {
  width: 90%;
}

.splash-side-content-one {
  display: flex;
  justify-content: space-evenly;
}

.splash-img-one {
  width: 40%;
  height: auto;
  background-color: $lightblue;
}

.splash-side-content-one-text {
  width: 40%;
}

.creator-main-container {
  width: 100%;
  background-color: $darkblue;
  border-radius: 10px;
  text-align: center;

  h3 {
    color: white;
    padding: 15px;
  }
}

.creators-content {
  display: flex;
  justify-content: space-between;
}

.creator-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 0px 10px 10px 20px;
  padding: 0px 20px 0px 20px;
  background-color: $orange;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 6px rgba(60, 90, 128, 0.2);

  h5 {
    color: white;
  }

  p {
    color: white;
  }
}

.creator-photo-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $lightblue;
  box-shadow: 0px 0px 10px 6px rgba(60, 90, 128, 0.2);
}
