.main-splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  width: 100%;
  margin: auto;
  background-color: $beige;
}

.koko-picture {
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  // align-items: flex-end;
}

.koko-splash-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.scaled {
  transform: scale(2);
}

.header-spacing {
  letter-spacing: 0.1rem;
}

.arrow-down {
  position: absolute;
  top: 375px;
  left: 1050px;
  width: 0;
  height: 10px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid $darkblue;
}

.meet-koko {
  font-family: $bubblefont;
  font-size: 50px;
  color: $beige;
  top: 0;
  left: 0;
  width: 70%;
  margin-top: 20px;
  padding: 20px 40px 0px 40px;
  background-color: $darkblue;
  border-radius: 50px;

  // border: 1px solid red;

  h3 {
    margin: 0px;
  }

  span {
    color: orange;
  }
}

.who-is-koko {
  height: 10vh;
  width: 100%;
  background-color: $darkblue;

  h3 {
    font-family: $bubblefont;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: $cream;
  }
}

.splash-main-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.splash-side-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

.splash-img {
  width: 40%;
  height: auto;
  // background-color: $lightblue;

  img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
  }
}

.splash-gif {
  padding: 20px;
  // border: 10px solid $darkblue;
  background-color: $darkblue;
  border-radius: 20px;
}

.splash-side-content-text {
  // margin: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: orange;
  width: 40%;

  h3 {
    line-height: 2;
    font-family: $bubblefont;
    font-size: 24px;
    color: $cream;
  }
}

.splash-banner {
  width: 100%;
  height: 150px;
  background-color: $darkblue;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    font-family: $bubblefont;
    width: 85%;
    font-size: 28px;
    color: $cream;
  }
}

.creator-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $cream;
  border-radius: 20px;
  text-align: center;
  justify-content: center;

  h3 {
    color: $darkblue;
    padding: 15px;
    font-family: $bubblefont;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.creators-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.creator-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  margin: 0px 10px 30px 20px;
  // padding: 0px 20px 0px 20px;
  background-color: orange;
  padding: 30px;
  border-radius: 20px;

  h5 {
    color: white;
    font-size: 36px;
    font-family: $bubblefont;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.creator-text-container {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: $beige;
  font-style: italic;
  line-height: 1.5;
}

.creator-photo-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 20px;
  background-color: $lightblue;
}
