.mood-garden {
  display: flex;
  align-items: flex-end;

  width: 400px;
  height: 70px;
  overflow: auto visible;
  // margin: -30px;
  // padding-top: 30px;
}

.mood-square {
  min-height: 20px;
  height: 20px;
  min-width: 20px;
  border-radius: 5px;
  margin: 0px 2px;
  position: relative;

  &:hover .mood-date {
    display: block;
  }
  // &:hover:after {
  //   content: "test";
  //   position: absolute;
  //   left: -30px;
  //   top: -30px;
  //   z-index: 99999;
  //   background: $cream;
  // }
}

.mood-date {
  position: absolute;
  display: none;
  left: -30px;
  top: -30px;
  background: $cream;
}
