.day-show {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.day-details {
  width: 70%;
  background-color: $cream;
  border-radius: 20px;
  // box-shadow: 0px 0px 12px 8px rgba(49, 49, 49, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;

  h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
  }
}

.day-details-mood {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: $darkblue;
  color: $cream;
  width: 48%;
  height: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  #day-show-mood {
    font-size: 70px;
    margin-left: 20px;
  }
}

.day-details-reflections {
  margin-top: 20px;
  width: 100%;

  .day-show-reflections {
    width: 100%;

    .journal-carousel-item {
      height: 28vh
    }

    .carousel-btns-container {
      button {
        margin: 0;
      }
    }
  }
  // .day-show-reflection-item {
  //   width: 100%;
  //   word-break: break-all;
  // }

  // #day-show-reflections-widget {
  //   width: 100%;
  // }
}

.day-details-goals {
  width: 50%;

  .day-show-goals {
    width: 100%;
    height: 30vh;
    padding: 10px;
    box-sizing: border-box;

    h2 {
      margin: 0;
    }
  }

  .day-show-goal-form {
    width: 100%;
    height: 26vh;

    .goal-form-cancel {
      font-size: 20px;
    }

    label {
      font-size: 20px;
    }

    input {
      font-size: 12px;
      padding: 5px;
    }

    input[type=date] {
      margin: 10px 0 0;
    }

    .goal-inputs {
      height: auto;
    }

    .goal-errors {
      font-size: 12px;
      height: 10px;
    }

    .goal-form-submit{
      margin-left: 21%;
      font-size: 15px;
      position: absolute;
    }

    #goal-form-delete-button {
        font-size: 15px;
        margin-left: 35%;
    }
  }
}

.day-show-first-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
