.day-show {
  display: flex;
  justify-content: space-evenly;
  margin: 0 20px 0;
  padding: 0 10px 0;
  box-sizing: border-box;
  position: relative;
  height: 90%;

  .missing-content {
    font-style: italic;
    color: $black;
    padding-top: 15%;
  }

  .missing-reflections {
    padding: 18vh 0 21.75vh;
    text-align: center;
    height: auto;
  }
}

.day-details {
  width: 67%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
  }
}

.day-details-mood {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: $beige;
  color: $darkblue;
  width: 48%;
  height: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  #day-show-mood {
    font-size: 68px;
    margin-left: 20px;
  }
}

.day-details-reflections {
  margin-top: 20px;
  width: 97%;
  height: 66%;
  min-height: 470px;

  .day-show-reflections {
    width: 100%;

    .journal-carousel-item {
      height: 33vh;
      min-height: 250px;
    }

    .carousel-btns-container {
      button {
        margin: 0;
      }
    }
  }
}

.day-details-goals {
  width: 47%;
  height: 100%;

  .day-show-goals {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h2 {
      margin: 0;
    }

    .goals-widget-list {
      margin-top: 10px;
      height: 50%;
    }

    .add-goal-button {
      bottom: 0px;
      margin: 0;
      margin-bottom: 15px;
    }
  }

  .add-goal-button{
    margin-bottom: 20px;
  }

  .day-show-goal-form {
    width: 100%;
    height: 100%;
    position: relative;

    .goal-form-cancel {
      font-size: 17px;
      position: absolute;
      right: 5%;
    }

    label {
      font-size: 20px;
    }

    input {
      font-size: 12px;
      padding: 10px;
    }

    input[type=date] {
      margin: 10px 0 0;
    }

    .goal-inputs {
      height: auto;
      min-height: 160px;
    }

    .goal-errors {
      font-size: 12px;
      height: 10px;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }

    .goal-form-buttons {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      button {
        margin-left: 10px;
      }
    }

    .goal-form-submit{
      font-size: 15px;
    }

    #goal-form-delete-button {
        font-size: 15px;
    }
  }
}

.day-show-first-row {
  width: 100%;
  display: flex;
  height: 35%;
  overflow: hidden;
  justify-content: space-evenly;
  min-height: 280px;
}

.day-show-left {
  position: relative;
  min-height: 770px;
}

.day-show-home-button {
  position: absolute;
  bottom: 20px;
  margin-bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 20px;
  font-size: 24px;
  font-family: $bubblefont;
  padding: 8px 20px;
  box-sizing: border-box;
  background-color: $darkblue;
  color: $cream;
  transition: 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $blue;
  }
}
