$darkblue: #3d5a80;
$blue: #98c1d9;
$lightblue: #e0fbcb;
$orange: #ee6c4d;
$black: #293241;
$cream: #fff9e9;

// LAYOUT
@import './stylesheets/base/reset';
@import './stylesheets/base/_typography';

// @import './stylesheets/koko.scss';
// @import './stylesheets/calendar.scss';

@import './stylesheets/layout/layout';

// COMPONENTS
@import './stylesheets/components/splash';
@import './stylesheets/components/navbar';
@import './stylesheets/components/reflections_widget';
@import './stylesheets//components/reflections_form'
