$darkblue: #3d5a80;
$blue: #98c1d9;
$lightblue: #e0fbcb;
$orange: #ee6c4d;
$black: #293241;
$cream: #fff9e9;

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@100;300;400;700&display=swap');

@import "./stylesheets//reset.scss";
@import "./stylesheets/koko.scss";
@import "./stylesheets/calendar.scss";
